<div class="container-vogue">
    <div class="title">
        <h2>Te podría interesar</h2>
    </div>

    <div class="publicity">
        <div class="product">
            <div class="logo">
                <img src="../../../assets/vogue/vogue.png" alt="">
            </div>
            <div class="products">
                <img src="../../../assets/vogue/products.webp" alt="">
            </div>

        </div>

        <div class="info">
            <span class="phrase1">ESMALTE EFECTO GEL</span>
            <div class="phrase2">
                <span>CELEBRA TU</span>
                <span>BELLEZA LATINA</span>
            </div>

            <span class="more">Ver más ></span>
        </div>
    </div>
</div>