<div class="container-principal-categories">
    <div class="title">
        <h2>Nuestras categorías populares</h2>
    </div>

    <div class="container-categories">
        <div class="categorie" (click)="searchCategorie('Autos, motos y otros')">
            <div class="image">
                <img src="../../../assets/categorias/coche.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Autos, Motos y otros</span>
            </div>
        </div>
        <div class="categorie" (click)="searchCategorie('Accesorios para vehículos')">
            <div class="image">
                <img src="../../../assets/categorias/volante.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Accesorios para Vehículos</span>
            </div>
            
        </div>
        <div class="categorie" (click)="searchCategorie('Deportes y fitness')">
            <div class="image">
                <img src="../../../assets/categorias/balon-de-futbol.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Deportes y Fitness</span>
            </div>

        </div>
        <div class="categorie" (click)="searchCategorie('Computación')">
            <div class="image">
                <img src="../../../assets/categorias/pantalla-del-ordenador.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Computación</span>
            </div>
            
        </div>
        <div class="categorie" (click)="searchCategorie('Joyas y relojes')">
            <div class="image">
                <img src="../../../assets/categorias/reloj-inteligente.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Joyas y Relojes</span>
            </div>
            
        </div>
        <div class="categorie" (click)="searchCategorie('Consolas y videojuegos')">
            <div class="image">
                <img src="../../../assets/categorias/consola.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Consolas y Videojuegos</span>
            </div>
            
        </div>
        <div class="categorie" (click)="searchCategorie('Ropa, bolsas y calzado')">
            <div class="image">
                <img src="../../../assets/categorias/camiseta.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Ropa, Bolsas y Calzado</span>
            </div>
            
        </div>
        <div class="categorie" (click)="searchCategorie('Celulares y telefonía')">
            <div class="image">
                <img src="../../../assets/categorias/llamada-de-telefono-inteligente.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Celulares y Telefonía</span>
            </div>
            
        </div>
        <div class="categorie" (click)="searchCategorie('Electrónica, audio y video')">
            <div class="image">
                <img src="../../../assets/categorias/microfono.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Electrónica, Audio y Video</span>
            </div>
           
        </div>
        <div class="categorie" (click)="searchCategorie('Cámaras y accesorios')">
            <div class="image">
                <img src="../../../assets/categorias/camara.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Cámaras y Accesorios</span>
            </div>
            
        </div>
        <div class="categorie" (click)="searchCategorie('Instrumentos musicales')">
            <div class="image">
                <img src="../../../assets/categorias/guitarra.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Instrumentos Musicales</span>
            </div>
            
        </div>
        <div class="categorie" (click)="searchCategorie('Hogar, muebles y jardín')">
            <div class="image">
                <img src="../../../assets/categorias/sillon.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Hogar, Muebles y Jardín</span>
            </div>
            
        </div>
        <div class="categorie" (click)="searchCategorie('Belleza y cuidado personal')">
            <div class="image">
                <img src="../../../assets/categorias/lapiz-labial.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Belleza y Cuidado Personal</span>
            </div>
            
        </div>
        <div class="categorie" (click)="searchCategorie('Libros, revistas y comics')">
            <div class="image">
                <img src="../../../assets/categorias/libro.png" alt="">
            </div>
            <div class="name-categorie">
                <span>Libros, Revistas y Cómics</span>
            </div>
            
        </div>
             
    </div>
</div>
