<div class="container-data">
    <div class="name-product">
        <h2>{{data.nombre}}</h2>
        <span>Marca: <strong>{{data.marca}}</strong></span>
    </div>

    <div class="info-price">
        <div class="price">
            <span id="price_product">$ {{data.precio}}</span>
            <span id="disccount">29% OFF</span>
        </div>
        <div class="iva-product">
            <span id="iva">IVA incluido</span>
        </div>
    </div>

    <div class="characteristics">
        <p>
            {{data.descripcion}}
        </p>
    </div>
</div>